/* File: /app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  nav,
  button,
  footer {
    display: none !important;
  }
  
  body {
    background: white !important;
  }
  
  .no-print {
    display: none !important;
  }
}